!!! 5
html
	head
		meta(charset='utf-8')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
		script(src='/javascripts/jquery.address.js')
		script(src='/javascripts/script.js')
	body!= body