* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: arial, sans-serif;
  color: #444;
}
header {
  background: #000;
  padding: 10px 15px;
}
header h1 {
  font-size: 30px;
  margin: 10px 15px;
  font-weight: normal;
}
header h1 a {
  color: #fff;
}
li {
  border: 1px solid #808080;
  padding: 10px;
  margin: 5px;
}
li h2 {
  font-size: 18px;
  font-weight: normal;
}
li em {
  font-size: 14px;
  display: block;
}
p {
  margin: 10px 5px;
}
a {
  text-decoration: none;
}
