*
	margin 0
	padding 0
	-webkit-box-sizing border-box

body 
	font-size 16px
	font-family arial, sans-serif
	color #444


header 
	background black
	padding 10px 15px

	h1 
		font-size 30px
		margin 10px 15px
		font-weight normal

		a
			color white

li
	border 1px solid gray
	padding 10px
	margin 5px

	h2
		font-size 18px
		font-weight normal

	em
		font-size 14px
		display block
	

p
	margin 10px 5px

	
a
	text-decoration none